.Card1{
    border: 2px;;
    border-radius: 10px;
    padding:20px 20px;
    background-color:lightpink;
    width:30%;
    transform:translate(95%,8%);
    height: 200px;
}
.Card1 img{
    height: 100px;
    width:100px;
    padding: 7px;
    transform:translate(4%,10%);
    border-radius: 10px;
}
.Card1 img:hover{
    background-color: rgb(247, 56, 135);
}
h2{
   text-align: center;
}

