body{
    margin:0;      
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(131, 211, 128);
    height:100vh;
    overflow:hidden;
   }
   .center1{
    position:absolute;
    top:50%;
    left:50%;
    background-color:white;
    transform:translate(-50%,-50%);
    width:400px;
    /* background :white; */
    border-radius:10px;
    border: 1px solid;
    border-color: silver;
    background-color:  rgba(255, 255, 255, 0.552);
    
   }
   .center1 h1{
    text-align:center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
   }
   .center1 form{
    padding:0 40px;
    box-sizing:border-box;

   }
   form .txt_field1{
    position:relative;
    border-bottom:2px solid rgb(0, 0, 0);
    margin:30px 20px;
   }
   .txt_field1 input{
        width:97%;
        padding:0 5px;
        height:40px;
        font-size:16px;
        border:none;
        outline:none;
        background-color:  rgba(255, 255, 255, 0.695);
   }
   .txt_field1 label{
    position:absolute;
    top:50%;
    left:5px;
    color:rgb(31, 3, 3);
    transform: translate(10%);
    font-size:12px;
    pointer-events: none;
    transition:.5s;
   }
    .txt_field1 span::before{
content: '';
position:absolute;
top:40px;
left:0;
width:100%;
height:2px;
background:rgb(235, 239, 242);
transition: .5s;
}
.txt_field1 input:focus ~ label,
.txt_field1 input:valid ~ label{
  top:-15px;
  color:#3696fc;
  font-size: medium;
}
.txt_field1 input:focus ~ span::before,
.txt_field1 input:focus ~ span::before{
  width:100%;
}
.pass1{
  margin: -5px 0 20px 5px;
  color:#01090f;
  cursor:pointer;
}
.pass1:hover{
  text-decoration: underline;
}
.button input{
  width:30%;
  height: 50px;
  border: 1px solid;
  transform: translate(100%, 30%) ;
  background: #2691d9;
  border-radius:25px;
  font-size:18px;
  color:#e9f4fb;
   font-weight: 700;
   cursor:pointer;
   outline:none;
}
.button input:hover{
border-color:#2691d9;
transition:0.5s;
opacity: 0.8;
}
.signup_link1{
  margin:30px 0;
  text-align:center;
  font-size:16px;
  color:#051c1a;
}
.signup_link1 a{
  color: #2691d9;
  text-decoration:none;
}
.signup_link1 a:hover{
text-decoration: underline;
}

*{
  
  background-repeat: no-repeat;
  
}  
img{
 height: 2000px;
 width : 3000px;
}
body{
 background-image: url(pic2.jpg);
 background-size: 100% 100%;
}
form{
 display: inline;
}